:root {
    --color-primary: #1f5963; 
    --color-accent: #e0772a; 
    --color-text: #2f3133;  
    --color-white: #fff;
    --color-overlay-light: hsla(0, 0%, 100%, .7);
    --color-header-transparent: rgba(31, 89, 99, .32);
    --color-nav-bg-mobile: rgba(31, 89, 99, .55); 
    --space-xxs: .25rem;
    --space-xs: .5rem;
    --space-sm: .8rem;
    --space: 1rem;
    --space-md: 1.6rem;
    --space-lg: 3rem;
    --space-xl: 4.5rem;
    --gutter: 65px;
    --gutter-small: 45px;
    --gutter-large: 100px;
    --wrapper-padding: 18px;
    --btn-pad-y: .75rem;
    --btn-pad-x: 1.2rem;
    --btn-large-pad-y: 1.1rem;
    --btn-large-pad-x: 1.9rem;
    --ff-base: Montserrat, sans-serif;
    --fw-thin: 100;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fs-hero-title-mobile: 2.4rem;
    --fs-hero-title: 4.8rem;
    --fs-hero-subtitle-mobile: 1.5rem;
    --fs-hero-subtitle: 2.9rem;
    --fs-hero-desc-mobile: 1.1rem;
    --fs-hero-desc: 1.875rem;
    --fs-headline-mobile: 1.9rem;
    --fs-headline: 2.875rem;
    --fs-headline-small-mobile: 1.2rem;
    --fs-headline-small: 1.875rem;
    --fs-section-title-mobile: 2.55rem;
    --fs-section-title: 3.75rem;
    --fs-feature-title-mobile: 1.6rem;
    --fs-feature-title: 1.875rem;
    --fs-testimonial-title: 1.5rem;
    --fs-btn-large: 1.25rem;
    --radius-photo: 80px;
    --hero-border: 10px;
    --transition-base: .3s ease-out;
}